body {
    background-color: #d2f7ff; 
    color: #260101;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* HEADER */
header {
    background-color: #05AFF2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* TEXT ELEMENTS */
h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    color: #142e31;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.8em;
    color: #05C7F2;
    margin-bottom: 12px;
}

h3 {
    font-size: 1.3em;
    color: #05C7F2;
    margin-bottom: 10px;
}

/* LINKS */
a {
    color: #0f4859;
    text-decoration: none;
}

a:hover {
    color: #71d9ff;
    text-decoration: underline;
    transition: color 0.3s ease;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {
    background-color: #0b6b81;
    color: #fff;
}

caption {
    font-size: 1.8em;
    color: #000000;
    margin-bottom: 12px; 
}

/* LISTS */
ul, ol {
    margin: 1em 0;
    padding-left: 2em;
}

li {
    margin-bottom: 0.5em;
}

ul.custom-list {
    list-style-type: square;
    color: #05C7F2;
}

ol.custom-list {
    list-style-type: upper-roman;
    color: #0b6b81;
}

/* DEFINITIONS */
dl {
    margin-bottom: 1em;
}

dt {
    font-weight: bold;
    color: #142e31;
}

dd {
    margin-left: 2em;
    padding-bottom: 0.5em;
}

/* SEMANTIC AND VISUAL HIGHLIGHTS */
.important-paragraph {
    color: #ff0000 !important;
    font-weight: bold;
    font-style: italic;
}

/* CONTEXTUAL SELECTORS */
p b {
    color: navy;
    font-weight: bold;
}

b + i {
    color: crimson;
    font-style: italic;
}

p > em {
    color: #2d862d;
    text-decoration: underline;
    font-style: normal;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #0a2038;
    color: #ffffff;
    border-top: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.9em;
}
